<div class="modal fade" id="deleteExperienceModal{{ exp.id }}" tabindex="-1" aria-labelledby="deleteExperienceModalLabel{{ exp.id }}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteExperienceModalLabel{{ exp.id }}">Hapus Pengalaman</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Apakah kamu yakin ingin menghapus pengalaman sebagai <strong>{{ exp.role }}</strong> di <strong>{{ exp.company }}</strong>? Data yang dihapus tidak bisa dikembalikan.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
        <form action="{% url 'delete_experience' exp.id %}" method="POST" class="d-inline">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Ya, Hapus</button>
        </form>
      </div>
    </div>
  </div>
</div>